.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 110, 255, 0.336);
}
nav{
    display: flex;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: large;

    display: inline-block;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
a:hover{
    transition: 0.9s;
    transform: rotateY(360deg);
    
      color: black;
    text-decoration: underline;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 100px;
}
li{
    text-decoration: none;
}
input{
    align-self: center;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    line-height: 1px;
}
@media screen and (min-width: 768px) {
    .boton{
        display: none;
    }
        
}
@media screen and (max-width: 768px) {
    nav{
        display: none;
    }
    .boton{
        align-self: center;
        padding: 10px;
    }
}
@media screen and (max-width: 480px) {
    nav{
        display: none;
    }
      input{
        display: none;
      }

}

  