.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 68, 0, 0.527);
}

.carta{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    margin: 30px;
    padding: 20px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 15px;
    transition: all 300ms;
}
.carta:hover{
    transform:scale(1.05);
}
.centrado{
    width: 80%;
    text-align: justify;
}
img{
    border-radius: 25px;
    width: 200px;
    height: 300px;
}
