<%- include("header") %>
<form action="/detallitos" method="get"></form>

<div class="d-flex flex-column mb-3 align-items-center">
<p class="h1">Detallitos</p>
<p><%= usuaris.nombre %></p>
<p><%= usuaris.email %></p>
</div>
<form>
<%- include("footer") %>