<%- include("header") %>
<form action="/detallitosProducto" method="get"></form>

<div class="d-flex flex-column mb-3 align-items-center">
<p class="h1">Detallitos</p>
<p><%= productes.nom %></p>
<p><%= productes.preu %>€</p>
</div>
<form>
<%- include("footer") %>