<%- include("header") %>

<form action="producte" method="post">
    <label for="nom">Nom:</label>
    <input type="text" name="nom" id="nom">
    <label for="preu">Preu:</label>
    <input type="number" name="preu" id="preu">
    <button type="submit">Enviar</button>
</form>
<%- include("footer") %>