<%- include("header") %>

<form action="usuari" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre">
    <label for="email">email:</label>
    <input type="text" name="email" id="email">
    <button type="submit">Enviar</button>
</form>
<%- include("footer") %>