<<<<<<< HEAD
.f0 {
    font-size: 1.5rem;
    color: blue;
    padding-left: 200px;
  }
=======
.f0{
    background-color: rgba(0, 162, 255, 0.63);
    padding-left: 200px;
    color: antiquewhite;
}
>>>>>>> 35d1a8f8e57d32087eb5b12cea02aa38b47008c3
